.Inner {
  margin: 4rem auto;
}

h1 {
  font-size: 2rem;
}

input[type="text"] {
  min-width: 100%;
  display: block;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
  padding: 1rem;
  border: 2px solid #aaa;
  background: #3a3a3a;
  line-height: 1.6;
  color: #fff;
  max-width: 30rem;
  caret-color: salmon;
}

input[type="text"]:required,
input[type="text"]:focus {
  border: 2px solid salmon;
  box-shadow: none;
  background: #444;
  outline: 0;
}

button,
input[type="submit"] {
  display: block;
  margin: 1rem 0;
  font-family: "Source Code Pro", monospace;
  background: salmon;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background: orangered;
  color: white;
}
